input {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}
button {
  font-size: 24px;
}

.ng-touched.ng-valid {
  border: 4px green solid;
}

.ng-touched.ng-invalid {
  border: 4px red solid;
}

.signupTitle{
    color: white;
}

#info {
  margin-top: 20px;
}
